* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    padding: 40px;
    margin: 0;
    font-family: fraunces;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}